body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1521390188846-e2a3a97453a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(255, 241, 176);
}

h1, h2 {
    font-family: 'Lobster', cursive;
}

h1 {
    border-bottom: 2px dotted rgb(55, 71, 59);
}

label {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    
}

/* .bg {
    background: url('https://images.unsplash.com/photo-1521390188846-e2a3a97453a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    
} */

.container {
    background-color: rgba(112, 138, 119, 0.8);
    box-shadow: 2px 2px 5px rgb(103, 109, 104);
}

.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50%;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-checkbox:hover
{
     background-color: #f7f7f7;
}
.form-checkbox:checked
{
     background-color: #f1f1f1;
}

.form-group {
    padding-left: 0;
}
